{{> header}}
<main class="content">
    <div class="welcome">
        <div class="signup">
            {{> loginForm}}

            {{> registerForm}}

        </div>
        {{> about}}

    </div>
</main>
{{> footer}}
