<div class="submitArea">
    <h1>Post Comment</h1>
    <form id="createCommentForm" class="submitForm" method="post" action="#/comment/create/{{post._id}}">
        <label>Content:</label>
        <input id="cmtContent" name="content" type="text">
        <input type="submit" value="Post Comment">
    </form>
</div>